@model DiplomaApp.ViewModels.OfferDetails

@{
    ViewData["Title"] = Model.Offer.Name;
}

<div>
    <div>
        <h1>Маркетплейс: <a href="@Model.Offer.MarketplaceUrl">@Model.Offer.MarketplaceName</a></h1>
        <h3>Категория: <a href="@Model.Offer.CategoryUrl">@Model.Offer.CategoryName</a></h3>
        <h4>Товар: <a href="@Model.Offer.Url">@Model.Offer.Name</a></h4>
    </div>
    <div class="btn-group">
        <a class="btn btn-outline-primary form-control h-50 w-auto" asp-action="Index">Назад к списку</a>
    </div>
    <div class="mt-2">
        @{
            Html.RenderPartial("~/Views/Offers/PartialRender/PriceChart.cshtml", Model.DatasetsJson);
        }
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Товар
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>
                        Маркетплейс
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        URL
                    </th>
                </tr>
            </thead>
            <tbody>
            @if (Model != null)
                {
                    foreach (var item in Model.SimilliarOffers)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Offers" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            <td>
                                <a asp-controller="Offers" asp-action="Index" asp-route-category="@item.CategoryName">@item.CategoryName</a>
                            </td>
                            <td>
                                <a asp-controller="Offers" asp-action="Index" asp-route-marketplace="@item.MarketplaceName">@item.MarketplaceName</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <a href=@item.Url>@Html.DisplayFor(modelItem => item.Url)</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('.date').each(function () {
                try {
                    var text = $(this).html();
                    var offset = moment().utcOffset();
                    var serverDate = moment.utc(text).utcOffset(offset).format("DD.MM.YYYY HH:mm:ss"); 

                    $(this).html(serverDate);
                }
                catch (ex) {
                    console.warn("Error converting date time", ex);
                }
            });
        });
</script>