@model DiplomaApp.ViewModels.MarketplaceDelete;

@{
    ViewData["Title"] = "Удалить";
}
<h3>Вы уверены что хотите удалить маркетплейс: @Model.Marketplace.Name и все связанные категории и товары?</h3>
<hr />
<div class="mt-3">
    <div>
        <h3>Маркетплейс</h3>
	    @Html.EditorFor(model => model.Marketplace, new { htmlAttributes = new { @class = "form-control", @readonly = true} })
    </div>
    <div>
        <h3>Карта парсинга каталога</h3>
	    @Html.EditorFor(model => model.CatalogMap, new { htmlAttributes = new { @class = "form-control", @readonly = true} })
    </div>
    <div>
        <h3>Карта парсинга категории</h3>
	    @Html.EditorFor(model => model.CategoryMap, new { htmlAttributes = new { @class = "form-control", @readonly = true} })
    </div>
    <div>
        <h3>Карта парсинга товара</h3>
	    @Html.EditorFor(model => model.OfferMap, new { htmlAttributes = new { @class = "form-control", @readonly = true} })
    </div>
</div>
<div class="mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Marketplace.Id" />
        <input type="submit" value="Удалить" class="btn-danger form-control text-center" />
        <a asp-action="Index" class="btn-primary form-control mt-2 text-center">Вернуться к списку</a>
    </form>
</div>


