@using DiplomaApp.Core
@model DiplomaApp.ViewModels.MarketplaceDetails;

@{
    ViewData["Title"] = @Model.Marketplace.Name;
}
<div>
    <div>
        <h1>Маркетплейс: <a href="@Model.Marketplace.Url">@Model.Marketplace.Name</a></h1>
    </div> 
    <div class="btn-group">
        @if (User.IsInRole(Constants.administrator))
        {
            <a class="btn btn-outline-primary form-control h-50 w-auto" asp-controller="Marketplaces" asp-action="Edit" asp-route-id="@Model.Marketplace.Id">Изменить</a>
            <a class="btn btn-outline-danger form-control h-50 w-auto" asp-controller="Marketplaces" asp-action="Delete" asp-route-id="@Model.Marketplace.Id">Удалить</a>
            <a class="btn btn-outline-primary form-control h-50 w-auto" asp-controller="Marketplaces" asp-action="GetCategories" asp-route-id="@Model.Marketplace.Id">Обновить категории</a>
            <a class="btn btn-outline-primary form-control h-50 w-auto" asp-controller="Marketplaces" asp-action="GetOffers" asp-route-id="@Model.Marketplace.Id">Обновить предложения</a>
        }
        <a class="btn btn-outline-primary form-control h-50 w-auto" asp-action="Index">Назад к списку</a>
    </div>
    <div>
        <h2>Категории маркетплейса</h2>
        @{ Html.RenderPartial("~/Views/Categories/PartialRender/IndexTable.cshtml", Model.Categories); }
    </div>
</div>
