@model DiplomaApp.ViewModels.OfferDetails
<h1><a href="@Model.MarketplaceUrl">@Model.MarketplaceName</a></h1>
<h2><a href="@Model.CategoryUrl">@Model.CategoryName</a></h2>
<h3><a href="@Model.OfferUrl">@Model.OfferName</a></h3>